<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Xhr的get请求</title>
</head>

<script src="/static/js/common.js"></script>


<body>
<button onclick="getXhr()">getXhr</button>
<div id="show"></div>
<script>
    function getXhr(){
    //1 创建xhr对象
    var xhr = createXhr();
    //2创建get请求
    xhr.open('GET','/test_xhr_get_server',true)
    //3 设置回调函数
    xhr.onreadystatechange = function(){
    if(xhr.readyState == 4 && xhr.status == 200){
        document.getElementById('show').innerHTML=xhr.responseText;
        }
       }
      xhr.send(null);
    }

</script>

</body>
</html>