<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>静态测试</title>
</head>
<body>
<img src="/static/images/timg.jpeg" width="500px" height="300px">

<img src="/home/tarena/bzx/month04/django/day03/mysite3/static/images/timg.jpeg" width="500px" height="300px">

<img src="http://127.0.0.1:8000/static/images/timg.jpeg" width="500px" height="300px">

<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1607927992555&di=90c603b5d71f9e5008611b1d4a20be9a&imgtype=0&src=http%3A%2F%2Fa2.att.hudong.com%2F27%2F81%2F01200000194677136358818023076.jpg" width="500px" height="300px">


</body>
</html>