<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书列表</title>
</head>
<body>
<a href="/books/add">添加图书</a>
<table border=1>
    <tr>
        <th>ID</th>
        <th>书名</th>
        <th>定价</th>
        <th>零售价</th>
        <th>出版社</th>
        <th>操作</th>
    </tr>
    {% for book in books %}
       <tr>
           <td>{{book.id}}</td>
           <td>{{book.title}}</td>
           <td>{{book.price}}</td>
           <td>{{book.market_price}}</td>
           <td>{{book.pub}}</td>
           <td>
               <a href="/books/update/{{book.id}}">修改</a>
               <a href="/books/delete?bid={{book.id}}">删除</a>
           </td>

       </tr>
    {% endfor %}
</table>

</body>
</html>